.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 50px;
}

.image;
.name;
.description;

.amount{
}

.price {
  margin-bottom: 20px;
}

.button{
    width:4.5%;
    height:3.5%;
    font-size: 20px;
    color: white;
    text-decoration: double;
    background-color:var(--color-violetXLigth);
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%};
    
   

    .container-count{
      display:grid;
      grid-template-rows: repeat(1, 6fr);
       
    }
   
    .boton{
      background-color:var(--color-violetXLigth);
      width: 15%;
      text-decoration: none;
      font-size: 20px;
      color: #ffffff;
      border-radius: 8px;
    }

    a:link {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }