.product-list {
  display: grid;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

.image,
.name,
.description,
.price {
  margin-bottom: 20px;
}
.modal-container{
  display:flex;
  align-items: center;
  gap:2rem;
  width: 100%;
  height: 100%;
}
.img-cart{
  width:25.35vh;
  padding:2.5vh;
}

#total-cart{
  margin:0;
  padding:0;
}
