.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 50px;
}

.image,
.name,
.description,
.price {
  margin-bottom: 20px;
}

.button{
    width:4.5%;
    height:4%;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: double;
    background-color:var(--color-violetXLigth);
    text-align: center;
    text-decoration: double;
    margin: 5px;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
