@media only screen and (max-width: 768px) {
    .product-list{
        display: flex;
        flex-direction: column;
    }

    .navContainer {
        display: flex;
        flex-direction: column;
    }
}