@media only screen and (min-width: 320px) and (max-width: 949px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
        justify-items: center;
    }

    .navContainer {
        display: flex;
        flex-direction: column;
    }
    .container-fluid{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: row-reverse;
        background-color: white;
        justify-items: center;
}
    .collapse{
        display: flex;
        justify-content: left;
}
    }
