@media only screen and (min-width: 320px){
    .product-list{
         grid-template-rows: repeat(9, 1fr);
    }
    .container-fluid{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end; 
}
}
@media only screen and (min-width: 800px){
    .product-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
   }
}
@media only screen and (min-width: 990px){
    .product-list{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
   }
   .container-fluid{
    display: flex;
    flex-direction: row;
} 
    .navbar-collapse {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}