span {
    color: #150050;
}
h1{
   color: #610094;
}
.paddingText{
   margin-right: 3.0rem;
}
.paddingLogo {
    margin-left: 3.0rem;
}
.container-fluid{
    padding-top: 2%;
}
.navbar-nav{
    display: flex;
    align-items: flex-end
}