@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Fasthand&display=swap');
@import url("/style/nav.css");
@import url("/style/main.css");
@import url("/style/footer.css");
@import url("/style/mediaqueries.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-black:#000000;
    --color-violet:#150050;
    --color-violetLigth:#3F0071;
    --color-violetXLigth:#610094;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Chivo', sans-serif;
    overflow-x: hidden;
}
